@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lato|Open+Sans|Oswald|Roboto|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Arimo:700');
/*
 
/* Links */
a, a:focus, a:hover {
    color: #fff;
}
/* Custom default button */
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}
/*
 * Base structure
 */
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: rgba(255,255,255,0.86);
    font-size: 16px;
    
}
body {
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
img {
    display: block;
    max-width: 100%
}
.navbar {
    background-color: rgba(201,209,38,1.00);
    padding: 0;
}

/*Header*/
#branding {
    width: 50%;
    height: 70px;
    margin: 0;
    background-color: #FF5A3B;
}
.heading {
    font-family: Arimo;
    font-size: 2.5rem;
    color: #D0011B;
}
h1.heading {
    display: block;
    width: 100%;
    font-size: 3.5rem;
    margin-top: 35px;
}
.navbar-brand {
    /* Eat More Fruit: */
    font-family: divSource+Sans+Pro;
    font-size: 2.5rem;
    color: #FFFFFF;
    
    
    
}
.byline {
    /* Fight Obesity in Ame: */
    font-family: divSource+Sans+Pro;
    font-size: 1rem;
    color: #0F55A7;
    letter-spacing: 0.15px;
    background-color: #FF5A3B;
}
jumbotron span.byline {
    /*margin-top: -23px;*/
    width: 100%;
    float: left;
}
.row p {
    font-size: 1.5rem;
}
#fruits img {
    width: 55%;
    margin: auto;
}
#apple p {
    /* Obesity is a serious: */
    font-family: divSource+Sans+Pro;
    font-size: 1.5rem;
    color: #D0011B;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}


span.byline {
    margin-top: -23px;
    width: 100%;
    float: left;
}

.nav-link {
    /* The Problem: */
    font-family: divSource+Sans+Pro;
    font-size: 1.875rem;
    color: #9012FE;
    letter-spacing: 0.15px;
}

a.btn.btn-primary.btn-lg {
    background-color: #FF5A3B;
    color: #fff;
}

/*Jumbotron*/
.jumbotron {
    background-image: url("../images/clear-white-bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 100%;
    text-align: center;
    
}

.lead {
    /* Obesity is a serious: */
    font-family: divSource+Sans+Pro;
    font-size: 36px;
    color: #D0011B;
    letter-spacing: 0.22px;
    text-align: center;
}
.fa-apple {
    color: rgba(78,151,0,1.00)
}
hr {
    background: rgba(194,52,37,.4);
}
/*The Problem Section*/
#problem {
    clear: both;
    margin-left: 0px;
    margin-right: 0px;
    /*background-color: rgba(190,202,30, .3);*/
}
#problem .lead {
    color: #000;
}
#problem span {
    width: 100%;
    display: block;
    margin: auto;
}
.subLead {
    /* Obesity is a serious: */
    font-family: divSource+Sans+Pro;
    font-size: 1.85rem;
    color: #D0011B;
    letter-spacing: 0.22px;
}
.description {
    /* Half of all American: */
    font-family: divSource+Sans+Pro;
    font-size: 24px;
    color: #052E5F;
    letter-spacing: 0.15px;
    text-align: left;
}
span img {
    display: inline;
    margin-left: 10px;
}
.title {
    /* The Problem: */
    font-family: Arimo;
    font-size: 2.5rem;
    color: #D0011B;
    letter-spacing: 0.4px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    text-align: center;
}
span.miniTitle {
    /* Start Early Get the: */
    font-family: Arimo;
    font-size: 1.5rem;
    color: #052E5F;
    letter-spacing: 0.15px;
    text-align: left;
}

/*The Data Section*/
#data {
   /* background: rgba(194,52,37,.4);*/
    color: #000;
}
#data .lead {
    color: #000;
}
/*Footer Section*/
footer {
    background-color: rgba(251,120,8,.5);
}
div p.copy {
    
    text-align: center;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
#apple p {
    /* Obesity is a serious: */
    font-family: divSource+Sans+Pro;
    /*font-size: 4vh;*/
    color: #D0011B;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
 
     

.heading {
    font-family: Arimo;
    font-size: 2.75rem;
    color: #D0011B;
}
h1.heading {
    font-size: 3rem;
margin-top: 15px;
    left: 25%;
}
    /* #fruits img {
    width: 100%;
    width: auto;
    margin: auto;
} */
#apple p {
    
    font-family: divSource+Sans+Pro;
    font-size: 1.75rem;
    color: #D0011B;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}
    
}


@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
    /* Eat More Fruit: */
    font-family: divSource+Sans+Pro;
    font-size: 2.85rem;
    color: #FFFFFF;
    margin-top: -10px
 
}
#fruits img {
    width: 100%;
    height: auto;
    margin: auto;
}
 #apple p {
    /* Obesity is a serious: */
    font-family: divSource+Sans+Pro;
    font-size: 2.25rem;
    color: #D0011B;
    text-align: center;
    display: block;
    width: 100%;
}
    
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

    h1.heading {
    font-size: 4rem;
    left: 25%;
    }
    #fruits img {
    width: 100%;
    height: auto;
    margin: auto;
}
    #apple p {
    /* Obesity is a serious: */
    font-family: divSource+Sans+Pro;
    font-size: 2.25rem;
    color: #D0011B;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
#fruits img {
    width: 100%;
    height: auto;
    margin: auto;
}
h1.heading {
    font-size: 4rem;
margin-top: 10px;
    left: 25%;
}
     #apple p {
    /* Obesity is a serious: */
    font-family: divSource+Sans+Pro;
    font-size: 2.25rem;
    color: #D0011B;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}
}
